@import 'scss/colors';
@import 'scss/variables';
@import 'scss/components/header';
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    font-size: 1.25rem;
}

body {
    background-color: $Color4;
}

header {
    position: absolute;
    background-color: $Color1;
    width: 100%;
    height: 60px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer {
    position: absolute;
    background-color: $Color1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

h1 {
    color: $Color5;
    position: absolute;
    text-align: center;
    font-size: 75px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    left: 50%;
    top: 5%;
    transform: translateX(-50%) translateY(-50%);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.rectangle {
    position: absolute;
    background: $Color2;
    width: 1000px;
    height: 700px;
    left: 100px;
    top: 100px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-content {
    color: $Color5;
    position: absolute;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    width: 900px;
    height: 10px;
    left: 50px;
    top: 160px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
