@import 'scss/colors';
@import 'scss/variables';
@import 'scss/components/header';
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    font-size: 1.25rem;
}