@import '../colors';

.button{
    position: fixed;
    left: 75%;
    top: 40%;
    color: $Color5;
    background-color: $Color3;
    border-radius: 20px;
    padding: 15px 90px;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}