@import '../colors';

.container {
    position: relative;
    background: $Color2;
    left: 5%;
    margin-top: 3.5%;
    width: 60vw;
    height: 35vw;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}