$Color1: #202027; //- BLUE - MAGENTA
$Color2: #1C1C23; //- BLACK RUSSIAN
$Color3: #1762A7; //- DARK BLUE
$Color4: #2F303A; //- BLACK ROCK
$Color5: #ECF0F1; //- AURE
$Color6: #252647; //- MARTINIQUE
$Color7: #FF4757; //- RADUCAL RED
$Color8: #2ED573; //- MEDIUM SEA GREEN